.add-form {
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid #0e7bdab0;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-label {
  color: #0e63da;
  font-weight: 700;
}

.add-input {
  width: 250px;
  border: 1px solid #0e7bdab0;
  border-radius: 8px;
  height: 40px;
  padding: 0 8px;
}

.add-button {
  border: 2px solid #0e7bdab0;
  padding: 1rem;
  border-radius: 16px;
  background-color: white;
  color: #0e63da;
}
.add-button:hover {
  cursor: pointer;
  background-color: #0e7bdab0;
  color: white;
  border: 2px solid white;
}
