.list-container {
  margin: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.list-header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid #0e7bdab0;
}

.list-box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

.todo-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* border: 2px solid gray; */
  min-height: 100px;
}
