.todo-container {
  width: 220px;
  border: 2px solid #0e63da;
  padding: 12px 24px;
  border-radius: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-todo {
  padding: 8px;
  border-radius: 8px;
  margin: 0 8px;
  width: 100px;
  background-color: white;
}
.button-todo:hover {
  cursor: pointer;
}

.delete {
  color: red;
  border: 2px solid red;
}

.delete:hover {
  background-color: red;
  color: white;
}

.complete {
  border: 2px solid green;
  color: green;
}
.complete:hover {
  background-color: green;
  color: white;
}
